@import "utf-8";


@font-face {

  font-family: 'notokr';
  
  font-weight: 300;
  
  src: url('./fonts/NotoKR-Light.eot'); /* IE9+ Compat Modes */
  
  src: local('NotoKR-Light'), 
  
      url('./fonts/NotoKR-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
      url('./fonts/NotoKR-Light.woff2') format('woff2'), /* Super modern browsers */
  
      url('./fonts/NotoKR-Light.woff') format('woff'), /* Modern browsers */
  
      url('./fonts/NotoKR-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }
  
@font-face {

  font-family: 'notokr';
  
  font-weight: 400;
  
  src: url('./fonts/notokr-regular.eot'); /* IE9+ Compat Modes */
  
  src: local('notokr-regular'), 
  
      url('./fonts/notokr-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
      url('./fonts/notokr-regular.woff2') format('woff2'), /* Super modern browsers */
  
      url('./fonts/notokr-regular.woff') format('woff'), /* Modern browsers */
  
      url('./fonts/notokr-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }
  
  
  
  @font-face {
  
    font-family: 'notokr';
  
    font-weight: 500;
  
    src: url('./fonts/notokr-medium.eot'); /* IE9+ Compat Modes */
  
    src: local('notokr-medium'), 
  
       url('./fonts/notokr-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
         url('./fonts/notokr-medium.woff2') format('woff2'), /* Super modern browsers */
  
         url('./fonts/notokr-medium.woff') format('woff'), /* Modern browsers */
  
         url('./fonts/notokr-medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }
  
  
  @font-face {
  
    font-family: 'notokr';
  
    font-weight: 700;
  
    src: url('./fonts/notokr-Bold.eot'); /* IE9+ Compat Modes */
  
    src: local('notokr-Bold'), 
  
       url('./fonts/notokr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
         url('./fonts/notokr-Bold.woff2') format('woff2'), /* Super modern browsers */
  
         url('./fonts/notokr-Bold.woff') format('woff'), /* Modern browsers */
  
         url('./fonts/notokr-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }
  
  
  
  
  
  
  
  @font-face {
  
      font-family: 'Lato';
  
      font-weight: 300;
  
      src: url('./fonts/Lato-Light.eot'); /* IE9+ Compat Modes */
  
      src: local('Lato-Light'), 
  
           url('./fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
           url('./fonts/Lato-Light.woff2') format('woff2'), /* Super modern browsers */
  
           url('./fonts/Lato-Light.woff') format('woff'), /* Modern browsers */
  
           url('./fonts/Lato-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  
    }
  
  
  
  @font-face {
  
    font-family: 'Lato';
  
    font-weight: 400;
  
    src: url('./fonts/Lato-Regular.eot'); /* IE9+ Compat Modes */
  
    src: local('Lato-Regular'), 
  
       url('./fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
         url('./fonts/Lato-Regular.woff2') format('woff2'), /* Super modern browsers */
  
         url('./fonts/Lato-Regular.woff') format('woff'), /* Modern browsers */
  
         url('./fonts/Lato-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }
  
  
  
  @font-face {
  
    font-family: 'Lato';
  
    font-weight: 500;
  
    src: url('./fonts/Lato-Medium.eot'); /* IE9+ Compat Modes */
  
    src: local('Lato-Medium'), 
  
       url('./fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
         url('./fonts/Lato-Medium.woff2') format('woff2'), /* Super modern browsers */
  
         url('./fonts/Lato-Medium.woff') format('woff'), /* Modern browsers */
  
         url('./fonts/Lato-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }
  
  
  
  @font-face {
  
    font-family: 'Lato';
  
    font-weight: 700;
  
    src: url('./fonts/Lato-Bold.eot'); /* IE9+ Compat Modes */
  
    src: local('Lato-Bold'), 
  
       url('./fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
         url('./fonts/Lato-Bold.woff2') format('woff2'), /* Super modern browsers */
  
         url('./fonts/Lato-Bold.woff') format('woff'), /* Modern browsers */
  
         url('./fonts/Lato-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }

  
  @font-face {
  
    font-family: 'Lato';
  
    font-weight: 800;
  
    src: url('./fonts/Lato-Heavy.eot'); /* IE9+ Compat Modes */
  
    src: local('Lato-Heavy'), 
  
       url('./fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  
         url('./fonts/Lato-Heavy.woff2') format('woff2'), /* Super modern browsers */
  
         url('./fonts/Lato-Heavy.woff') format('woff'), /* Modern browsers */
  
         url('./fonts/Lato-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
  
  }